body {
    background-color: #c0a891
}
p {
    margin-left: 5em;
    margin-top: 1em;
    display: block;
  font-family: "EB Garamond", serif;
  font-style: normal;
}
em {font-style: italic}
h1 {
    font-family: "EB Garamond", serif
}
h3 {
    font-family: "EB Garamond", serif
}
li {
    font-family: "EB Garamond", serif
}
p.navigation {
    font-weight: bold;
    color: #b30e67}
strong {
    color: #cc1076
}
