body {
    background-color: #EFF7F9
}
p {
    margin-left: 5em;
    margin-top: 1em;
    display: block;
  font-family: "EB Garamond", serif;
  font-style: normal;
  color: #3D2817
}
em {font-style: italic}
h1 {
    font-family: "EB Garamond", serif;
    color: #1E4A6D
}
h3 {
    font-family: "EB Garamond", serif;
    color: #1E4A6D
}
li {
    font-family: "EB Garamond", serif;
    color: #5A7A68
}
p.navigation {
    font-weight: bold;
    color: #b30e67}
strong {
    color: #C85A28
}
