body {background-color: #c0a891}
p {margin-left: 5em;
    margin-top: 1em;
    display: block;
    font-family:western, fantasy
}
h1 {font-family:western, fantasy}
h3 {font-family:western, fantasy}
li {font-family:western, fantasy}
p.navigation {font-weight:bold;
    color:#b30e67}
    strong {color:#cc1076}

